@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

/*webage reset*/
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.intro {
	height: 100%; 
	width: 100%;
	margin: auto;
	background: url("https://static.pexels.com/photos/341858/pexels-photo-341858.jpeg");
	display: table;
	top: 0;
	background-size: cover;
}

.intro .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;

}

.content {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
/*	padding-bottom: 15%;*/
}


#clock {
	font-family: "Yantramanav", sans-serif;
	font-size: 700%;
	font-weight: 400;
	color: white;
	line-height: 70%;
	text-shadow: 2px 2px 30px #535456;
}

.work {
	font-family: "Yantramanav", sans-serif;
	font-size: 200%;
	font-weight: 700;
	color: white;
	line-height: 70%;
	line-height: 3;
	text-shadow: 2px 2px 30px #535456;

}













/*--- Media Queries --*/
@media screen and (max-width: 900px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {
	
}